body {
      margin: 0;
      background-color: black;
      font-family: sans-serif;
      overflow:hidden;
    }

    /* 側邊選單 */
    .sidebar {
      position: fixed;
      top: 0;
      left: -300px; /* 初始在畫面外 */
      width: 250px;
      height: 100%;
      background-color: #7e7b7b;
      color: white;
      padding: 20px;
      transition: left 0.3s ease;
    }

    /* 顯示選單 */
    .sidebar.active {
      left: 0;
    }

    /* 主畫面內容 */
    .content {
      /*padding: 20px;*/
      color:white;
    }

    .content h1 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 2rem;
    }

    /* 選單按鈕 */
    .menu-button {
      font-size: 18px;
      background-color: #444;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    /* 選單內的連結 */
    .sidebar a {
      color: white;
      text-decoration: none;
      display: block;
      margin: 10px 0;
    }

    .sidebar a:hover {
      text-decoration: underline;
    }

    #game canvas {
      background: #222;
      display: block;
      margin: 20px auto;
      border: 2px solid #555;
      margin: 0 auto;
    }

    .canvas-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: calc(100vh - 60px); /* 減去標題與上方空間 */
      margin: 0;
      padding: 0;
    }

    .game-wrapper {
      position: relative;
      width: 400px;
      height: 400px;
    }

    #game {
      display: block;
    }

    #restart-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      font-size: 20px;
      padding: 10px 20px;
    }
