.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* 初始在畫面外 */
    width: 250px;
    height: 100%;
    background-color: #7e7b7b;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.sidebar a:hover {
    text-decoration: underline;
}